.gradient-text {
    background: linear-gradient(90deg, rgba(64, 187, 255, 1) 0%, rgba(173, 62, 255, 1) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-number {
    background: linear-gradient(90deg, rgba(220, 220, 255, 1) 0%, rgba(255, 225, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-background {
    background: linear-gradient(90deg, rgba(64, 187, 255, 1) 0%, rgba(173, 62, 255, 1) 100%);
}


